# Answers for EBBO data

## First steps with pandas
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

Note this data has been edited for the purposes of the exercise, but there is deliberately some missing data.

In [20]:
import pandas
df = pandas.read_csv('./data/early_english_books.csv')
print(df)

        TCP      EEBO    VID                       STC Status  \
0    A00002  99850634  15849  STC 1000.5; ESTC S115415   Free
1    A00005  99842408   7058   STC 10000; ESTC S106695   Free
2    A00007  99844302   9101   STC 10002; ESTC S108645   Free
3    A00008  99848896  14017   STC 10003; ESTC S113665   Free
4    A00011  99837000   1304   STC 10008; ESTC S101178   Free
..      ...       ...    ...                       ...    ...
144  A00519  99849883  15055   STC 10654; ESTC S114658   Free
145  A00522  99847059  12066   STC 10657; ESTC S111789   Free
146  A00525  99856552  22122   STC 10660; ESTC S121369   Free
147  A00527  99849909  15082   STC 10665; ESTC S114685   Free
148  A00535  99849912  15085   STC 10675; ESTC S114688   Free

                                                Author  Date  \
0                           Aylett, Robert, 1583-1655?  1625
1    Higden, Ranulf, d. 1364. Polycronicon. English...  1515
2               Higden, Ranulf, d. 1364. Polycronicon.  1528
3            Wood, William, fl. 1623, attributed name.  1623
4                                                  NaN  1640
..                                                 ...   ...
144                                   T. F., fl. 1630.  1636
145  Fabricius, Joannes, Montanus, 1527-1566.; L. A...  1562
146                           Fabyan, Robert, d. 1513.  1533
147                   Fage, John, student in phisicke.  1606
148                         Falconer, John, 1577-1656.  1618

                                                 Title  \
0    The brides ornaments viz. fiue meditations, mo...
1    Here begynneth a shorte and abreue table on th...
2    The Cronycles of Englonde with the dedes of po...
3    Considerations vpon the treaty of marriage bet...
4    Englands complaint to Iesus Christ, against th...
..                                                 ...
144  A fooles bolt is soone shot Good friends bewar...
145  An oration of Ihon Fabritius Montanus VVherby ...
146  Fabyans cronycle newly prynted, wyth the crony...
147  Speculum ÃŒ_grotorum. The sicke-mens glasse or...
148  A briefe refutation of Iohn Traskes iudaical a...

                                                 Terms  Page Count  \
0                                                  NaN         134
1    Great Britain -- History -- To 1485 -- Early w...         302
2    Great Britain -- History -- To 1485 -- Early w...         386
3         Great Britain -- Foreign relations -- Spain.          14
4    Church of England. -- Thirty-nine Articles -- ...          54
..                                                 ...         ...
144                  Ballads, English -- 17th century.           2
145  Council of Trent (1545-1563) -- Early works to...          68
146  Great Britain -- History -- To 1485 -- Early w...         854
147  Medicine -- Early works to 1800.; Astrology --...          72
148  Traske, John, d. ca. 1638.; Jews -- Dietary la...         106

                Place
0              London
1              London
2              London
3    The Netherlands?
4           Amsterdam
..                ...
144            London
145            London
146   Prentyd  London
147            London
148        Saint-Omer

[149 rows x 11 columns]

In [21]:
# Print first few lines

print(df.head())

      TCP      EEBO    VID                       STC Status  \
0  A00002  99850634  15849  STC 1000.5; ESTC S115415   Free
1  A00005  99842408   7058   STC 10000; ESTC S106695   Free
2  A00007  99844302   9101   STC 10002; ESTC S108645   Free
3  A00008  99848896  14017   STC 10003; ESTC S113665   Free
4  A00011  99837000   1304   STC 10008; ESTC S101178   Free

                                              Author  Date  \
0                         Aylett, Robert, 1583-1655?  1625
1  Higden, Ranulf, d. 1364. Polycronicon. English...  1515
2             Higden, Ranulf, d. 1364. Polycronicon.  1528
3          Wood, William, fl. 1623, attributed name.  1623
4                                                NaN  1640

                                               Title  \
0  The brides ornaments viz. fiue meditations, mo...
1  Here begynneth a shorte and abreue table on th...
2  The Cronycles of Englonde with the dedes of po...
3  Considerations vpon the treaty of marriage bet...
4  Englands complaint to Iesus Christ, against th...

                                               Terms  Page Count  \
0                                                NaN         134
1  Great Britain -- History -- To 1485 -- Early w...         302
2  Great Britain -- History -- To 1485 -- Early w...         386
3       Great Britain -- Foreign relations -- Spain.          14
4  Church of England. -- Thirty-nine Articles -- ...          54

              Place
0            London
1            London
2            London
3  The Netherlands?
4         Amsterdam

In [22]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TCP         149 non-null    object
 1   EEBO        149 non-null    int64
 2   VID         149 non-null    int64
 3   STC         149 non-null    object
 4   Status      149 non-null    object
 5   Author      136 non-null    object
 6   Date        149 non-null    int64
 7   Title       149 non-null    object
 8   Terms       141 non-null    object
 9   Page Count  149 non-null    int64
 10  Place       149 non-null    object
dtypes: int64(4), object(7)
memory usage: 12.9+ KB
None

In [23]:
# Print the type of the Place column which is currently an int rather than Date
print(type(df['Place'][0]))

<class 'str'>

In [29]:
# custom index column
df = pandas.read_csv('./data/early_english_books.csv', index_col='EEBO')
print(df.columns)

Index(['TCP', 'VID', 'STC', 'Status', 'Author', 'Date', 'Title', 'Terms',
       'Page Count', 'Place'],
      dtype='object')

## Exercises

### 1. Unique values

In [25]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['Place'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

['London' 'The Netherlands?' 'Amsterdam' '\xa0London' 'Germany?' 'London?'
 'Londini' '\xa0Londini' '\xa0 London' '\xa0Roan in Normandy i.e. London'
 'Antwerp' 'Emden' 'S.l.' '\xa0Ausborch i.e. Antwerp'
 '\xa0Malborow i.e. Antwerp' 'Im in London' 'Cambridge' 'Rouen'
 '\xa0Oxford' 'Antverpi' 'Oxford' 'Prentyd\xa0 London' 'Saint-Omer']
23

### 2. Basic statistics

In [26]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['Page Count'].describe())

count    149.000000
mean     104.382550
std      160.125398
min        1.000000
25%       16.000000
50%       52.000000
75%      108.000000
max      884.000000
Name: Page Count, dtype: float64

In [34]:
# non-numerical column (freq = most common value's frequency)
print(df['Author'].describe())

count     149.000000
mean     1584.288591
std        36.158864
min      1515.000000
25%      1552.000000
50%      1583.000000
75%      1618.000000
max      1640.000000
Name: Date, dtype: float64

In [35]:
# 2b. What is the most recent date? 
# For the purposes of this exercise treat the Date column as containing numbers. We could convert this column to a timestamp
# if we had a full date for each entry.
print(df['Date'].max())

1640

### 3. Grouping and aggregating

In [ ]:
# a. What is the mean page count for books published in Amsterdam?
grouped_data = df.groupby('Place')
print(grouped_data.mean())

In [ ]:
# b. What is the mean page count for books grouped by publishing location and date?

grouped_data2 = df.groupby(['Place', 'Date'])
print(grouped_data2.mean())

### 4. Conditional selections

In [ ]:
# a.View only entries that were published in London.
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are for London. 
new_df = df[df['Place'] == 'London']
print(new_df.info())

# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count that is greater
# than or equal to 46 and print the first 3 entries to the screen. 
print((new_df[new_df['Page Count'] >= 46]).head(3))