# Answers for medical insurance data

filename: medical_insurance

## First steps with pandas
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

Note this data has been edited for the purposes of the exercise, but there is deliberately some missing data.

In [39]:
import pandas
df = pandas.read_csv('./data/medical_insurance.csv')
print(df)

      identifier  age     sex     bmi  children smoker     region   charges
0            880   19  female  27.900         0    yes  southwest  16884.92
1            881   18    male  33.770         1     no  southeast   1725.55
2            882   28    male  33.000         3     no  southeast   4449.46
3            883   33    male  22.705         0     no  northwest  21984.47
4            884   32    male  28.880         0     no  northwest   3866.86
...          ...  ...     ...     ...       ...    ...        ...       ...
1333        2213   50    male  30.970         3     no  northwest  10600.55
1334        2214   18  female  31.920         0     no  northeast   2205.98
1335        2215   18  female  36.850         0     no  southeast   1629.83
1336        2216   21  female  25.800         0     no  southwest   2007.94
1337        2217   61  female  29.070         0    yes  northwest  29141.36

[1338 rows x 8 columns]

In [21]:
# Print first few lines

print(df.head())

   age     sex     bmi  children smoker     region      charges  identifier
0   19  female  27.900         0    yes  southwest  16884.92400         880
1   18    male  33.770         1     no  southeast   1725.55230         881
2   28    male  33.000         3     no  southeast   4449.46200         882
3   33    male  22.705         0     no  northwest  21984.47061         883
4   32    male  28.880         0     no  northwest   3866.85520         884

In [22]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1338 non-null   int64
 1   sex         1338 non-null   object
 2   bmi         1338 non-null   float64
 3   children    1338 non-null   int64
 4   smoker      1338 non-null   object
 5   region      1338 non-null   object
 6   charges     1338 non-null   float64
 7   identifier  1338 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 83.8+ KB
None

In [25]:
# Print the type of the a column

print(type(df['smoker'][0]))

<class 'str'>

In [27]:
# custom index column
df = pandas.read_csv('./data/medical_insurance.csv', index_col='identifier')
print(df)

            age     sex     bmi  children smoker     region      charges
identifier
880          19  female  27.900         0    yes  southwest  16884.92400
881          18    male  33.770         1     no  southeast   1725.55230
882          28    male  33.000         3     no  southeast   4449.46200
883          33    male  22.705         0     no  northwest  21984.47061
884          32    male  28.880         0     no  northwest   3866.85520
...         ...     ...     ...       ...    ...        ...          ...
2213         50    male  30.970         3     no  northwest  10600.54830
2214         18  female  31.920         0     no  northeast   2205.98080
2215         18  female  36.850         0     no  southeast   1629.83350
2216         21  female  25.800         0     no  southwest   2007.94500
2217         61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Exercises

### 1. Unique values

In [28]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['age'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

[19 18 28 33 32 31 46 37 60 25 62 23 56 27 52 30 34 59 63 55 22 26 35 24
 41 38 36 21 48 40 58 53 43 64 20 61 44 57 29 45 54 49 47 51 42 50 39]
47

### 2. Basic statistics

In [30]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['age'].describe())

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

In [29]:
# non-numerical column (freq = most common value's frequency)
print(df['region'].describe())

count          1338
unique            4
top       southeast
freq            364
Name: region, dtype: object

In [40]:
# 2b. What is the highest charge? 
print(df['charges'].max())

63770.43

### 3. Grouping and aggregating

In [41]:
# a. What is the mean charge for non-smokers?
grouped_data = df.groupby('smoker')
print(grouped_data.mean())

         identifier        age        bmi  children       charges
smoker
no      1547.477444  39.385338  30.651795  1.090226   8434.268299
yes     1552.470803  38.514599  30.708449  1.113139  32050.231898

In [42]:
# b. What is the mean bmi for people grouped by gender and whether or not they smoke?

grouped_data2 = df.groupby(['smoker', 'sex'])
print(grouped_data2.mean())

                identifier        age        bmi  children       charges
smoker sex
no     female  1540.932358  39.691042  30.539525  1.087751   8762.297166
       male    1554.402321  39.061896  30.770580  1.092843   8087.204874
yes    female  1576.173913  38.608696  29.608261  1.008696  30678.996261
       male    1535.327044  38.446541  31.504182  1.188679  33042.006101

### 4. Conditional selections

In [43]:
# a.View only entries for people over the age of 35
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are. 
new_df = df[df['age'] > 35]
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764 entries, 6 to 1337
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   identifier  764 non-null    int64
 1   age         764 non-null    int64
 2   sex         764 non-null    object
 3   bmi         764 non-null    float64
 4   children    764 non-null    int64
 5   smoker      764 non-null    object
 6   region      764 non-null    object
 7   charges     764 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 53.7+ KB
None

In [44]:
# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a bmi that is less
# than or equal to 26 and print the first 3 entries to the screen. 
print((new_df[new_df['bmi'] <= 26]).head(3))

    identifier  age     sex     bmi  children smoker     region   charges
9          889   60  female  25.840         0     no  northwest  28923.14
26         906   63  female  23.085         0     no  northeast  14451.84
42         922   41    male  21.780         1     no  southeast   6272.48