# Answers for DaVinci data

filename: flood_stations

## First steps with pandas
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

Note this data has been edited for the purposes of the exercise, but there is deliberately some missing data.

In [15]:
import pandas
df = pandas.read_csv('./data/flood_stations.csv')
print(df)

    RLOIid                     catchmentName  dateOpened  easting  \
0     8276             Wharfe and Lower Ouse  11/07/2001   398476
1     7267  Thames from Hurley to Teddington  01/01/1983   517700
2     2114                    Idle and Torne  24/07/1969   469990
3     2165           Lower Trent and Erewash  01/12/1972   454970
4     8186   Swale, Ure, Nidd and Upper Ouse  01/05/1979   448200
..     ...                               ...         ...      ...
63    7042                         Cotswolds  01/01/1987   430140
64    2141                    Idle and Torne  01/09/1970   463080
65    2001      Worcestershire Middle Severn  01/04/1921   378150
66    7235                               Wey  01/01/1983   499970
67    2136                              Soar  01/08/1971   454230

              label        lat      long  northing notation         riverName  \
0   Netherside Hall  54.080705 -2.024779       NaN    F1906      River Wharfe
1          Kingston  51.415005 -0.308869  169800.0   3400TH      River Thames
2    Twyford Bridge  53.269620 -0.952008  375250.0     4036     River Poulter
3            Lenton  52.948176 -1.183337  339290.0     4435        River Leen
4       Skip Bridge  53.998678 -1.266199  456100.0    F2102        River Nidd
..              ...        ...       ...       ...      ...               ...
63          Worsham  51.793689 -1.564378  210650.0   1080TH    River Windrush
64            Blyth  53.377166 -1.053244  387120.0     4091       River Ryton
65          Bewdley  52.383563 -2.322438  276220.0     2001      River Severn
66          Bramley  51.206896 -0.570320  146270.0   3069TH  Cranleigh Waters
67     Littlethorpe  52.571268 -1.201273  297350.0     4082        River Soar

   stationReference  limit
0             F1906    594
1            3400TH    325
2              4036     64
3              4435    544
4             F2102    412
..              ...    ...
63           1080TH    567
64             4091    747
65             2001    481
66           3069TH   1038
67             4082    915

[68 rows x 12 columns]

In [5]:
# Print first few lines

print(df.head())

   RLOIid                     catchmentName  dateOpened  easting  \
0  8276.0             Wharfe and Lower Ouse  11/07/2001   398476
1  7267.0  Thames from Hurley to Teddington  01/01/1983   517700
2  2114.0                    Idle and Torne  24/07/1969   469990
3  2165.0           Lower Trent and Erewash  01/12/1972   454970
4  8186.0   Swale, Ure, Nidd and Upper Ouse  01/05/1979   448200

             label        lat      long  northing notation      riverName  \
0  Netherside Hall  54.080705 -2.024779       NaN    F1906   River Wharfe
1         Kingston  51.415005 -0.308869  169800.0   3400TH   River Thames
2   Twyford Bridge  53.269620 -0.952008  375250.0     4036  River Poulter
3           Lenton  52.948176 -1.183337  339290.0     4435     River Leen
4      Skip Bridge  53.998678 -1.266199  456100.0    F2102     River Nidd

  stationReference
0            F1906
1           3400TH
2             4036
3             4435
4            F2102

In [6]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RLOIid            68 non-null     float64
 1   catchmentName     68 non-null     object
 2   dateOpened        68 non-null     object
 3   easting           72 non-null     int64
 4   label             72 non-null     object
 5   lat               72 non-null     float64
 6   long              72 non-null     float64
 7   northing          71 non-null     float64
 8   notation          72 non-null     object
 9   riverName         68 non-null     object
 10  stationReference  72 non-null     object
dtypes: float64(4), int64(1), object(6)
memory usage: 6.3+ KB
None

In [7]:
# Print the type of a column NB: NaN cells return float
print(type(df['easting'][0]))

<class 'numpy.int64'>

In [19]:
# custom index column
df = pandas.read_csv('./data/flood_stations.csv', index_col='RLOIid')
print(df)

                           catchmentName  dateOpened  easting  \
RLOIid
8276               Wharfe and Lower Ouse  11/07/2001   398476
7267    Thames from Hurley to Teddington  01/01/1983   517700
2114                      Idle and Torne  24/07/1969   469990
2165             Lower Trent and Erewash  01/12/1972   454970
8186     Swale, Ure, Nidd and Upper Ouse  01/05/1979   448200
...                                  ...         ...      ...
7042                           Cotswolds  01/01/1987   430140
2141                      Idle and Torne  01/09/1970   463080
2001        Worcestershire Middle Severn  01/04/1921   378150
7235                                 Wey  01/01/1983   499970
2136                                Soar  01/08/1971   454230

                  label        lat      long  northing notation  \
RLOIid
8276    Netherside Hall  54.080705 -2.024779       NaN    F1906
7267           Kingston  51.415005 -0.308869  169800.0   3400TH
2114     Twyford Bridge  53.269620 -0.952008  375250.0     4036
2165             Lenton  52.948176 -1.183337  339290.0     4435
8186        Skip Bridge  53.998678 -1.266199  456100.0    F2102
...                 ...        ...       ...       ...      ...
7042            Worsham  51.793689 -1.564378  210650.0   1080TH
2141              Blyth  53.377166 -1.053244  387120.0     4091
2001            Bewdley  52.383563 -2.322438  276220.0     2001
7235            Bramley  51.206896 -0.570320  146270.0   3069TH
2136       Littlethorpe  52.571268 -1.201273  297350.0     4082

               riverName stationReference  limit active
RLOIid
8276        River Wharfe            F1906     71     No
7267        River Thames           3400TH    281     No
2114       River Poulter             4036    554     No
2165          River Leen             4435    673     No
8186          River Nidd            F2102    836    Yes
...                  ...              ...    ...    ...
7042      River Windrush           1080TH   1079     No
2141         River Ryton             4091    681     No
2001        River Severn             2001    364    Yes
7235    Cranleigh Waters           3069TH    611     No
2136          River Soar             4082    754     No

[68 rows x 12 columns]

## Exercises

### 1. Unique values

In [10]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['catchmentName'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

['Wharfe and Lower Ouse' 'Thames from Hurley to Teddington'
 'Idle and Torne' 'Lower Trent and Erewash'
 'Swale, Ure, Nidd and Upper Ouse' 'Ribble Douglas and Crossens'
 'Cherwell Thame and Wye' 'Warwickshire Avon' 'Staffordshire Trent Valley'
 'Bournes' 'Soar' 'Severn Vale' 'Upper Mersey' 'Vale of White Horse'
 'Mole' 'Welland' 'Derbyshire Derwent' 'Loddon' 'Severn Uplands'
 'Upper Lee' 'Stort' 'Wey' 'Colne (Lower)' 'London' 'Cotswolds'
 'Shropshire Middle Severn' 'Derwent' 'Lower Lee'
 'Worcestershire Middle Severn' 'Lower Mersey' 'Northern Manchester'
 'Nene' 'Tame Anker and Mease' nan]
34

### 2. Basic statistics

In [12]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['lat'].describe())

count    68.000000
mean     52.337831
std       0.916030
min      51.144764
25%      51.456049
50%      52.160346
75%      52.923003
max      54.185605
Name: lat, dtype: float64

In [13]:
# non-numerical column (freq = most common value's frequency)
print(df['riverName'].describe())

count               68
unique              42
top       River Thames
freq                 8
Name: riverName, dtype: object

In [16]:
# 2b. What is the largest number in the 'limit' column?
print(df['limit'].max())

1492

### 3. Grouping and aggregating

In [28]:
# a. Print to the screen the max limits grouped by catchment.
grouped_data = df.groupby('catchmentName')
print(grouped_data.max())

                                  dateOpened  easting  \
catchmentName
Bournes                           01/01/2005   506000
Cherwell Thame and Wye            01/01/1991   471800
Colne (Lower)                     01/01/1998   503508
Cotswolds                         25/01/1991   443830
Derbyshire Derwent                02/10/1935   435360
Derwent                           31/08/2001   483300
Idle and Torne                    26/04/1961   469990
Loddon                            01/01/1994   488010
London                            01/01/1988   527100
Lower Lee                         01/01/1991   535177
Lower Mersey                      11/03/1989   362830
Lower Trent and Erewash           31/12/1982   480140
Mole                              01/01/2005   526040
Nene                              01/01/1999   473600
Northern Manchester               10/11/2002   375450
Ribble Douglas and Crossens       01/01/1999   358620
Severn Uplands                    28/04/1952   341190
Severn Vale                       05/06/1970   386798
Shropshire Middle Severn          01/01/1987   364050
Soar                              28/06/1967   461480
Staffordshire Trent Valley        05/04/1982   413230
Stort                             01/01/1984   539156
Swale, Ure, Nidd and Upper Ouse   15/12/1988   448200
Tame Anker and Mease              28/11/1978   401220
Thames from Hurley to Teddington  01/01/2002   517700
Upper Lee                         01/01/1992   538520
Upper Mersey                      01/06/1976   377240
Vale of White Horse               01/01/1988   464950
Warwickshire Avon                 01/01/1988   392100
Welland                           01/01/1980   503800
Wey                               01/01/1995   506850
Wharfe and Lower Ouse             27/06/1991   447700
Worcestershire Middle Severn      07/09/1977   378150

                                                    label        lat  \
catchmentName
Bournes                                   Chertsey Bourne  51.402823
Cherwell Thame and Wye                           Wheatley  51.740637
Colne (Lower)                      Staines Trading Estate  51.440219
Cotswolds                                         Worsham  51.793689
Derbyshire Derwent                             Derby City  52.927260
Derwent                           Malton, A64 Road Bridge  54.185605
Idle and Torne                             Twyford Bridge  53.397737
Loddon                                            Twyford  51.484806
London                                       Longley Road  51.421965
Lower Lee                                      Lea Bridge  51.567832
Lower Mersey                                        Westy  53.390658
Lower Trent and Erewash                          Shardlow  53.131855
Mole                                          Leatherhead  51.381714
Nene                                       Geldharts Mill  52.271031
Northern Manchester                              Kearsley  53.546445
Ribble Douglas and Crossens                         Wigan  53.607043
Severn Uplands                                   Montford  52.724474
Severn Vale                                   Saxons Lode  52.049661
Shropshire Middle Severn                      Crudgington  52.754258
Soar                                               Syston  52.831898
Staffordshire Trent Valley                  Kings Bromley  52.916247
Stort                                   Roydon, Glen Faba  51.764828
Swale, Ure, Nidd and Upper Ouse               Skip Bridge  54.183434
Tame Anker and Mease                               Bescot  52.560205
Thames from Hurley to Teddington             Windsor Park  51.529307
Upper Lee                           Hoddesdon, Rye Bridge  51.770008
Upper Mersey                                  Ashton Weir  53.438308
Vale of White Horse                           Water Eaton  51.647821
Warwickshire Avon                                  Bredon  52.034940
Welland                                            Irnham  52.833221
Wey                                             Weybridge  51.372480
Wharfe and Lower Ouse                           Tadcaster  54.080705
Worcestershire Middle Severn                     Buildwas  52.636354

                                      long  northing notation  \
catchmentName
Bournes                          -0.478479  168100.0   2989TH
Cherwell Thame and Wye           -0.967884  205030.0   2200TH
Colne (Lower)                    -0.512241  172265.0   2898TH
Cotswolds                        -1.366384  210650.0   1100TH
Derbyshire Derwent               -1.475443  336780.0     4085
Derwent                          -0.725015  477400.0    F2809
Idle and Torne                   -0.952008  389490.0     4091
Loddon                           -0.739058  176800.0   2490TH
London                           -0.173411  170800.0   4189TH
Lower Lee                        -0.051025  187240.0   5390TH
Lower Mersey                     -2.560365  388350.0   693976
Lower Trent and Erewash          -0.803653  360080.0     4435
Mole                             -0.199530  165990.0   3290TH
Nene                             -0.922807  264200.0    E1660
Northern Manchester              -2.371963  405600.0   690503
Ribble Douglas and Crossens      -2.625999  412570.0   700325
Severn Uplands                   -2.872198  314450.0     2005
Severn Vale                      -2.193572  239050.0     2606
Shropshire Middle Severn         -2.534083  317540.0     2170
Soar                             -1.091508  326290.0     4093
Staffordshire Trent Valley       -1.805399  335440.0     4083
Stort                             0.015113  209271.0   5190TH
Swale, Ure, Nidd and Upper Ouse  -1.266199  476600.0    F2313
Tame Anker and Mease             -1.983428  295820.0     4081
Thames from Hurley to Teddington -0.308869  181960.0   3400TH
Upper Lee                         0.006126  209830.0   5280TH
Upper Mersey                     -2.344072  393560.0   692726
Vale of White Horse              -1.067068  194600.0   2290TH
Warwickshire Avon                -2.116566  237400.0     2128
Welland                          -0.460655  327300.0    E2896
Wey                              -0.466322  164830.0   3090TH
Wharfe and Lower Ouse            -1.275696  444100.0    F2002
Worcestershire Middle Severn     -2.322438  304420.0     2134

                                        riverName stationReference  limit  \
catchmentName
Bournes                           Chertsey Bourne           2989TH    942
Cherwell Thame and Wye               River Thames           2200TH   1360
Colne (Lower)                         River Colne           2898TH    933
Cotswolds                          River Windrush           1100TH   1478
Derbyshire Derwent                  River Derwent             4085   1170
Derwent                             River Derwent            F2809   1085
Idle and Torne                        River Ryton             4091    929
Loddon                               River Loddon           2490TH    426
London                             River Graveney           4189TH    708
Lower Lee                               River Lee           5390TH    603
Lower Mersey                         River Mersey           693976   1121
Lower Trent and Erewash               River Trent             4435    830
Mole                                   River Mole           3290TH   1249
Nene                                   River Nene            E1660   1450
Northern Manchester                  River Irwell           690503    214
Ribble Douglas and Crossens         River Douglas           700325    653
Severn Uplands                       River Severn             2005    356
Severn Vale                          River Severn             2606   1154
Shropshire Middle Severn             River Strine             2170   1197
Soar                                 River Wreake             4093   1216
Staffordshire Trent Valley            River Trent             4083   1196
Stort                                 River Stort           5190TH   1479
Swale, Ure, Nidd and Upper Ouse        River Nidd            F2313    836
Tame Anker and Mease                   River Tame             4081    794
Thames from Hurley to Teddington     River Thames           3400TH   1244
Upper Lee                               River Lee           5280TH   1111
Upper Mersey                         River Mersey           692726    321
Vale of White Horse                  River Thames           2290TH   1476
Warwickshire Avon                      River Avon             2128    155
Welland                           West Glen River            E2896   1032
Wey                                     River Wey           3090TH   1255
Wharfe and Lower Ouse                River Wharfe            F2002    687
Worcestershire Middle Severn         River Severn             2134   1193

                                 active
catchmentName
Bournes                             Yes
Cherwell Thame and Wye              Yes
Colne (Lower)                       Yes
Cotswolds                           Yes
Derbyshire Derwent                   No
Derwent                             Yes
Idle and Torne                       No
Loddon                               No
London                               No
Lower Lee                           Yes
Lower Mersey                         No
Lower Trent and Erewash             Yes
Mole                                Yes
Nene                                Yes
Northern Manchester                  No
Ribble Douglas and Crossens          No
Severn Uplands                       No
Severn Vale                         Yes
Shropshire Middle Severn             No
Soar                                Yes
Staffordshire Trent Valley           No
Stort                                No
Swale, Ure, Nidd and Upper Ouse     Yes
Tame Anker and Mease                 No
Thames from Hurley to Teddington    Yes
Upper Lee                            No
Upper Mersey                        Yes
Vale of White Horse                 Yes
Warwickshire Avon                    No
Welland                              No
Wey                                  No
Wharfe and Lower Ouse                No
Worcestershire Middle Severn        Yes

In [20]:
# b. What is the mean of numerical columns for stations grouped by river name and whether they are active?

grouped_data2 = df.groupby(['riverName', 'active'])
print(grouped_data2.mean())

                                easting        lat      long       northing  \
riverName         active
Addlestone Bourne Yes     506000.000000  51.374167 -0.478479  165000.000000
Chertsey Bourne   Yes     501670.000000  51.402823 -0.539779  168100.000000
Cod Beck          Yes     442200.000000  54.183434 -1.354871  476600.000000
Colne Brook       Yes     501899.000000  51.440219 -0.535292  172265.000000
Cranleigh Waters  No      499970.000000  51.206896 -0.570320  146270.000000
East Glen River   No      503800.000000  52.833221 -0.460655  327300.000000
Jubilee River     No      490470.000000  51.529307 -0.697199  181960.000000
River Avon        No      392100.000000  52.034940 -2.116566  237400.000000
River Blackwater  No      488010.000000  51.297410 -0.739058  156120.000000
River Coln        No      415023.000000  51.709394 -1.783971  201207.000000
River Colne       Yes     503508.000000  51.437123 -0.512241  171953.000000
River Derwent     No      458234.500000  53.536952 -1.117600  404902.500000
                  Yes     483300.000000  54.185605 -0.725015  477400.000000
River Douglas     No      353120.000000  53.578147 -2.709551  409300.000000
River Erewash     Yes     448270.000000  52.921584 -1.283492  336260.000000
River Graveney    No      527100.000000  51.421965 -0.173411  170800.000000
River Idle        No      468920.000000  53.397737 -0.964956  389490.000000
River Irwell      No      375450.000000  53.546445 -2.371963  405600.000000
River Kennet      No      464950.000000  51.432753 -1.067068  170830.000000
                  Yes     447130.000000  51.401605 -1.323874  167170.000000
River Lee         No      538520.000000  51.770008  0.006126  209830.000000
                  Yes     535177.000000  51.567832 -0.051025  187240.000000
River Leen        No      454970.000000  52.948176 -1.183337  339290.000000
River Loddon      No      477800.000000  51.484806 -0.880942  176800.000000
River Mersey      No      362830.000000  53.390658 -2.560365  388350.000000
                  Yes     377240.000000  53.438308 -2.344072  393560.000000
River Mole        No      514560.000000  51.338349 -0.356791  161200.000000
                  Yes     526040.000000  51.144764 -0.199530  139930.000000
River Nene        Yes     473600.000000  52.271031 -0.922807  264200.000000
River Nidd        Yes     448200.000000  53.998678 -1.266199  456100.000000
River Poulter     No      469990.000000  53.269620 -0.952008  375250.000000
River Ray         No      412100.000000  51.640170 -1.826539  193500.000000
River Ryton       No      463080.000000  53.377166 -1.053244  387120.000000
River Sence       No      458750.000000  52.573856 -1.134530  297690.000000
River Severn      No      363994.000000  52.346854 -2.532885  272276.500000
                  Yes     376350.000000  52.356526 -2.349381  273230.000000
River Soar        No      453260.000000  52.720569 -1.212960  313950.000000
River Stort       No      539156.000000  51.764828  0.015113  209271.000000
River Strine      No      364050.000000  52.754258 -2.534083  317540.000000
River Tame        No      401220.000000  52.560205 -1.983428  295820.000000
River Thame       Yes     461190.000000  51.740637 -1.115198  205030.000000
River Thames      No      488820.000000  51.494284 -0.722399  178080.000000
                  Yes     476880.500000  51.574722 -0.893887  186893.000000
River Trent       No      427303.333333  52.935007 -1.593640  337746.666667
                  Yes     444840.000000  52.865431 -1.335368  329980.000000
River Wey         No      503110.000000  51.304258 -0.522166  157165.000000
River Wharfe      No      423088.000000  53.985793 -1.650238  444100.000000
River Windrush    No      430140.000000  51.793689 -1.564378  210650.000000
River Wreake      Yes     461480.000000  52.706226 -1.091508  312450.000000
West Glen River   No      498700.000000  52.823395 -0.536693  326100.000000

                                limit
riverName         active
Addlestone Bourne Yes      942.000000
Chertsey Bourne   Yes      467.000000
Cod Beck          Yes      162.000000
Colne Brook       Yes      357.000000
Cranleigh Waters  No       611.000000
East Glen River   No      1032.000000
Jubilee River     No       927.000000
River Avon        No       155.000000
River Blackwater  No       426.000000
River Coln        No      1478.000000
River Colne       Yes      933.000000
River Derwent     No      1127.500000
                  Yes      941.000000
River Douglas     No       405.500000
River Erewash     Yes      511.000000
River Graveney    No       708.000000
River Idle        No       929.000000
River Irwell      No       214.000000
River Kennet      No       627.000000
                  Yes     1476.000000
River Lee         No      1111.000000
                  Yes      603.000000
River Leen        No       673.000000
River Loddon      No       168.000000
River Mersey      No      1121.000000
                  Yes      321.000000
River Mole        No       663.500000
                  Yes     1249.000000
River Nene        Yes     1450.000000
River Nidd        Yes      836.000000
River Poulter     No       554.000000
River Ray         No       297.000000
River Ryton       No       681.000000
River Sence       No       284.000000
River Severn      No       703.000000
                  Yes      903.666667
River Soar        No       950.333333
River Stort       No      1479.000000
River Strine      No      1197.000000
River Tame        No       794.000000
River Thame       Yes      109.000000
River Thames      No       839.500000
                  Yes     1096.500000
River Trent       No       908.666667
                  Yes      546.000000
River Wey         No      1218.500000
River Wharfe      No       379.000000
River Windrush    No      1079.000000
River Wreake      Yes      675.000000
West Glen River   No       126.000000

### 4. Conditional selections

In [29]:
# a.View only stations associated with the River Thames
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are. 
new_df = df[df['riverName'] == 'River Thames']
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 7267 to 7047
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   catchmentName     8 non-null      object
 1   dateOpened        8 non-null      object
 2   easting           8 non-null      int64
 3   label             8 non-null      object
 4   lat               8 non-null      float64
 5   long              8 non-null      float64
 6   northing          8 non-null      float64
 7   notation          8 non-null      object
 8   riverName         8 non-null      object
 9   stationReference  8 non-null      object
 10  limit             8 non-null      int64
 11  active            8 non-null      object
dtypes: float64(3), int64(2), object(7)
memory usage: 832.0+ bytes
None

In [26]:
# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a limit that is greater
# than or equal to 500 and print the first 3 entries to the screen. 
print((new_df[new_df['limit'] >= 500]).head(3))

                           catchmentName  dateOpened  easting  \
RLOIid
7110              Cherwell Thame and Wye  01/01/1991   471800
7084                 Vale of White Horse  01/01/1983   451700
7165    Thames from Hurley to Teddington  01/01/2002   490140

                   label        lat      long  northing notation  \
RLOIid
7110             Reading  51.461325 -0.967884  174100.0   2200TH
7084    Sutton Courtenay  51.647821 -1.254167  194600.0   1800TH
7165          Maidenhead  51.524146 -0.702103  181380.0   2604TH

           riverName stationReference  limit active
RLOIid
7110    River Thames           2200TH   1360     No
7084    River Thames           1800TH    959     No
7165    River Thames           2604TH   1244     No