# Answers for DaVinci data

## First steps with pandas
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

In [7]:
import pandas
df = pandas.read_csv('./data/DaVinci.csv')
print(df)

      BL record ID Type of resource              Content type Material type  \
0          41738.0        Monograph  Language material ; Text        Volume
1          41739.0        Monograph  Language material ; Text        Volume
2          59998.0        Monograph  Language material ; Text        Volume
3          60030.0        Monograph  Language material ; Text        Volume
4          72285.0        Monograph  Language material ; Text        Volume
...            ...              ...                       ...           ...
1946           NaN              NaN                       NaN           NaN
1947           NaN              NaN                       NaN           NaN
1948           NaN              NaN                       NaN           NaN
1949           NaN              NaN                       NaN           NaN
1950           NaN              NaN                       NaN           NaN

      BNB number  Archival Resource Key          ISBN                Name  \
0            NaN                    NaN           NaN      Albizzi, Luigi
1            NaN                    NaN           NaN      Albizzi, Luigi
2            NaN                    NaN  9.780000e+12  Almedingen, E. M.
3            NaN                    NaN           NaN  Almedingen, E. M.
4            NaN                    NaN           NaN     Amoretti, Carlo
...          ...                    ...           ...                 ...
1946         NaN                    NaN           NaN                 NaN
1947         NaN                    NaN           NaN                 NaN
1948         NaN                    NaN           NaN                 NaN
1949         NaN                    NaN           NaN                 NaN
1950         NaN                    NaN           NaN                 NaN

     Dates associated with name Type of name  ...  \
0                           NaN       person  ...
1                           NaN       person  ...
2                     1898-1971       person  ...
3                     1898-1971       person  ...
4                           NaN       person  ...
...                         ...          ...  ...
1946                        NaN          NaN  ...
1947                        NaN          NaN  ...
1948                        NaN          NaN  ...
1949                        NaN          NaN  ...
1950                        NaN          NaN  ...

     Date of creation/publication  \
0                            1919
1                            1920
2                            1969
3                            1963
4                            1804
...                           ...
1946                          NaN
1947                          NaN
1948                          NaN
1949                          NaN
1950                          NaN

                                                Edition Physical description  \
0                                                   NaN                   31
1                                                   NaN                   31
2                                                   NaN                  159
3                                                   NaN                  143
4     Another edition, Memorie storiche su la vita, ...                  199
...                                                 ...                  ...
1946                                                NaN                  NaN
1947                                                NaN                  NaN
1948                                                NaN                  NaN
1949                                                NaN                  NaN
1950                                                NaN                  NaN

     Dewey classification            BL shelfmark Topics Genre Languages  \
0                     NaN               7859.h.26    NaN   NaN       NaN
1                     NaN  1752.c.1.  ; 7859.g.16    NaN   NaN       NaN
2                     NaN              X.429/4017    NaN   NaN       NaN
3                     NaN            010600.ee.14    NaN   NaN   English
4                     NaN               1402.f.14    NaN   NaN       NaN
...                   ...                     ...    ...   ...       ...
1946                  NaN                     NaN    NaN   NaN       NaN
1947                  NaN                     NaN    NaN   NaN       NaN
1948                  NaN                     NaN    NaN   NaN       NaN
1949                  NaN                     NaN    NaN   NaN       NaN
1950                  NaN                     NaN    NaN   NaN       NaN

     Notes Provenance
0      NaN        NaN
1      NaN        NaN
2      NaN        NaN
3      NaN        NaN
4      NaN        NaN
...    ...        ...
1946   NaN        NaN
1947   NaN        NaN
1948   NaN        NaN
1949   NaN        NaN
1950   NaN        NaN

[1951 rows x 29 columns]

In [4]:
# Print first few lines

print(df.head())

   BL record ID Type of resource              Content type Material type  \
0       41738.0        Monograph  Language material ; Text        Volume
1       41739.0        Monograph  Language material ; Text        Volume
2       59998.0        Monograph  Language material ; Text        Volume
3       60030.0        Monograph  Language material ; Text        Volume
4       72285.0        Monograph  Language material ; Text        Volume

   BNB number  Archival Resource Key          ISBN                Name  \
0         NaN                    NaN           NaN      Albizzi, Luigi
1         NaN                    NaN           NaN      Albizzi, Luigi
2         NaN                    NaN  9.780000e+12  Almedingen, E. M.
3         NaN                    NaN           NaN  Almedingen, E. M.
4         NaN                    NaN           NaN     Amoretti, Carlo

  Dates associated with name Type of name  ... Date of creation/publication  \
0                        NaN       person  ...                         1919
1                        NaN       person  ...                         1920
2                  1898-1971       person  ...                         1969
3                  1898-1971       person  ...                         1963
4                        NaN       person  ...                         1804

                                             Edition Physical description  \
0                                                NaN                   31
1                                                NaN                   31
2                                                NaN                  159
3                                                NaN                  143
4  Another edition, Memorie storiche su la vita, ...                  199

  Dewey classification            BL shelfmark Topics Genre Languages Notes  \
0                  NaN               7859.h.26    NaN   NaN       NaN   NaN
1                  NaN  1752.c.1.  ; 7859.g.16    NaN   NaN       NaN   NaN
2                  NaN              X.429/4017    NaN   NaN       NaN   NaN
3                  NaN            010600.ee.14    NaN   NaN   English   NaN
4                  NaN               1402.f.14    NaN   NaN       NaN   NaN

  Provenance
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 29 columns]

In [5]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1951 entries, 0 to 1950
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   BL record ID                  354 non-null    float64
 1   Type of resource              354 non-null    object
 2   Content type                  354 non-null    object
 3   Material type                 354 non-null    object
 4   BNB number                    0 non-null      float64
 5   Archival Resource Key         0 non-null      float64
 6   ISBN                          7 non-null      float64
 7   Name                          218 non-null    object
 8   Dates associated with name    45 non-null     object
 9   Type of name                  218 non-null    object
 10  Role                          8 non-null      object
 11  All names                     313 non-null    object
 12  Title                         354 non-null    object
 13  Variant titles                147 non-null    object
 14  Series title                  76 non-null     object
 15  Number within series          46 non-null     object
 16  Country of publication        120 non-null    object
 17  Place of publication          300 non-null    object
 18  Publisher                     113 non-null    object
 19  Date of creation/publication  309 non-null    object
 20  Edition                       17 non-null     object
 21  Physical description          285 non-null    object
 22  Dewey classification          0 non-null      float64
 23  BL shelfmark                  352 non-null    object
 24  Topics                        16 non-null     object
 25  Genre                         2 non-null      object
 26  Languages                     80 non-null     object
 27  Notes                         56 non-null     object
 28  Provenance                    0 non-null      float64
dtypes: float64(6), object(23)
memory usage: 442.1+ KB
None

In [6]:
# Print the type of the Data column which is currently an int rather than Date
print(type(df['Date'][0]))

KeyError: 'Date'

In [ ]:
# Correct Data column when reading CSV
df = pandas.read_csv('./data/early_english_books.csv', parse_dates=['Date'])
print(df)

In [ ]:
# custom index column
df = pandas.read_csv('./data/early_english_books.csv', parse_dates=['Date'], index_col='EEBO')
print(df)

## Exercises

### 1. Unique values

In [ ]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['Place'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

### 2. Basic statistics

In [ ]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['Page Count'].describe())

In [ ]:
# non-numerical column (freq = most common value's frequency)
print(df['Author'].describe())

In [ ]:
# 2b. How many pages does the longest book in the data have?
print(df['Page Count'].max())

### 3. Grouping and aggregating

In [ ]:
# a. What is the mean page count for books published in Amsterdam?
grouped_data = df.groupby('Place')
print(grouped_data.mean())

In [ ]:
# b. What is the mean page count for books grouped by publishing location and date?

grouped_data2 = df.groupby(['Place', 'Date'])
print(grouped_data2.mean())

### 4. Conditional selections
a.View only entries that were published in London. If you need to remind yourself of the data, you can print the first few lines to the screen again.
b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries there are for London.
c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count equal to or over 46 and print the first 3 entries to the screen using the method ```.head(3)```.

In [ ]:
# a.View only entries that were published in London.
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are for London. 
new_df = df[df['Place'] == 'London']
print(new_df.info())

# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count that is greater
# than or equal to 46 and print the first 3 entries to the screen. 
print((new_df[new_df['Page Count'] >= 46]).head(3))