# Answers for DaVinci data

## Group setup code 
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

In [2]:
import pandas
df = pandas.read_csv('./data/DaVinci.csv')
print(df.columns)

Index(['BL record ID', 'Type of resource', 'Content type', 'Material type',
       'BNB number', 'Archival Resource Key', 'ISBN', 'Name',
       'Dates associated with name', 'Type of name', 'Role', 'All names',
       'Title', 'Variant titles', 'Series title', 'Number within series',
       'Country of publication', 'Place of publication', 'Publisher',
       'Date of creation/publication', 'Edition', 'Physical description',
       'Dewey classification', 'BL shelfmark', 'Topics', 'Genre', 'Languages',
       'Notes', 'Provenance'],
      dtype='object')

In [4]:
# Print first few lines

print(df.head())

      TCP      EEBO    VID                       STC Status  \
0  A00002  99850634  15849  STC 1000.5; ESTC S115415   Free
1  A00005  99842408   7058   STC 10000; ESTC S106695   Free
2  A00007  99844302   9101   STC 10002; ESTC S108645   Free
3  A00008  99848896  14017   STC 10003; ESTC S113665   Free
4  A00011  99837000   1304   STC 10008; ESTC S101178   Free

                                              Author  Date  \
0                         Aylett, Robert, 1583-1655?  1625
1  Higden, Ranulf, d. 1364. Polycronicon. English...  1515
2             Higden, Ranulf, d. 1364. Polycronicon.  1528
3          Wood, William, fl. 1623, attributed name.  1623
4                                                NaN  1640

                                               Title  \
0  The brides ornaments viz. fiue meditations, mo...
1  Here begynneth a shorte and abreue table on th...
2  The Cronycles of Englonde with the dedes of po...
3  Considerations vpon the treaty of marriage bet...
4  Englands complaint to Iesus Christ, against th...

                                               Terms  Page Count  \
0                                                NaN         134
1  Great Britain -- History -- To 1485 -- Early w...         302
2  Great Britain -- History -- To 1485 -- Early w...         386
3       Great Britain -- Foreign relations -- Spain.          14
4  Church of England. -- Thirty-nine Articles -- ...          54

              Place
0            London
1            London
2            London
3  The Netherlands?
4         Amsterdam

In [5]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TCP         149 non-null    object
 1   EEBO        149 non-null    int64
 2   VID         149 non-null    int64
 3   STC         149 non-null    object
 4   Status      149 non-null    object
 5   Author      136 non-null    object
 6   Date        149 non-null    int64
 7   Title       149 non-null    object
 8   Terms       141 non-null    object
 9   Page Count  149 non-null    int64
 10  Place       149 non-null    object
dtypes: int64(4), object(7)
memory usage: 12.9+ KB
None

In [6]:
# Print the type of the Data column which is currently an int rather than Date
print(type(df['Date'][0]))

<class 'numpy.int64'>

In [7]:
# Correct Data column when reading CSV
df = pandas.read_csv('./data/early_english_books.csv', parse_dates=['Date'])
print(df)

        TCP      EEBO    VID                       STC Status  \
0    A00002  99850634  15849  STC 1000.5; ESTC S115415   Free
1    A00005  99842408   7058   STC 10000; ESTC S106695   Free
2    A00007  99844302   9101   STC 10002; ESTC S108645   Free
3    A00008  99848896  14017   STC 10003; ESTC S113665   Free
4    A00011  99837000   1304   STC 10008; ESTC S101178   Free
..      ...       ...    ...                       ...    ...
144  A00519  99849883  15055   STC 10654; ESTC S114658   Free
145  A00522  99847059  12066   STC 10657; ESTC S111789   Free
146  A00525  99856552  22122   STC 10660; ESTC S121369   Free
147  A00527  99849909  15082   STC 10665; ESTC S114685   Free
148  A00535  99849912  15085   STC 10675; ESTC S114688   Free

                                                Author  Date  \
0                           Aylett, Robert, 1583-1655?  1625
1    Higden, Ranulf, d. 1364. Polycronicon. English...  1515
2               Higden, Ranulf, d. 1364. Polycronicon.  1528
3            Wood, William, fl. 1623, attributed name.  1623
4                                                  NaN  1640
..                                                 ...   ...
144                                   T. F., fl. 1630.  1636
145  Fabricius, Joannes, Montanus, 1527-1566.; L. A...  1562
146                           Fabyan, Robert, d. 1513.  1533
147                   Fage, John, student in phisicke.  1606
148                         Falconer, John, 1577-1656.  1618

                                                 Title  \
0    The brides ornaments viz. fiue meditations, mo...
1    Here begynneth a shorte and abreue table on th...
2    The Cronycles of Englonde with the dedes of po...
3    Considerations vpon the treaty of marriage bet...
4    Englands complaint to Iesus Christ, against th...
..                                                 ...
144  A fooles bolt is soone shot Good friends bewar...
145  An oration of Ihon Fabritius Montanus VVherby ...
146  Fabyans cronycle newly prynted, wyth the crony...
147  Speculum ÃŒ_grotorum. The sicke-mens glasse or...
148  A briefe refutation of Iohn Traskes iudaical a...

                                                 Terms  Page Count  \
0                                                  NaN         134
1    Great Britain -- History -- To 1485 -- Early w...         302
2    Great Britain -- History -- To 1485 -- Early w...         386
3         Great Britain -- Foreign relations -- Spain.          14
4    Church of England. -- Thirty-nine Articles -- ...          54
..                                                 ...         ...
144                  Ballads, English -- 17th century.           2
145  Council of Trent (1545-1563) -- Early works to...          68
146  Great Britain -- History -- To 1485 -- Early w...         854
147  Medicine -- Early works to 1800.; Astrology --...          72
148  Traske, John, d. ca. 1638.; Jews -- Dietary la...         106

                Place
0              London
1              London
2              London
3    The Netherlands?
4           Amsterdam
..                ...
144            London
145            London
146   Prentyd  London
147            London
148        Saint-Omer

[149 rows x 11 columns]

In [8]:
# custom index column
df = pandas.read_csv('./data/early_english_books.csv', parse_dates=['Date'], index_col='EEBO')
print(df)

             TCP    VID                       STC Status  \
EEBO
99850634  A00002  15849  STC 1000.5; ESTC S115415   Free
99842408  A00005   7058   STC 10000; ESTC S106695   Free
99844302  A00007   9101   STC 10002; ESTC S108645   Free
99848896  A00008  14017   STC 10003; ESTC S113665   Free
99837000  A00011   1304   STC 10008; ESTC S101178   Free
...          ...    ...                       ...    ...
99849883  A00519  15055   STC 10654; ESTC S114658   Free
99847059  A00522  12066   STC 10657; ESTC S111789   Free
99856552  A00525  22122   STC 10660; ESTC S121369   Free
99849909  A00527  15082   STC 10665; ESTC S114685   Free
99849912  A00535  15085   STC 10675; ESTC S114688   Free

                                                     Author  Date  \
EEBO
99850634                         Aylett, Robert, 1583-1655?  1625
99842408  Higden, Ranulf, d. 1364. Polycronicon. English...  1515
99844302             Higden, Ranulf, d. 1364. Polycronicon.  1528
99848896          Wood, William, fl. 1623, attributed name.  1623
99837000                                                NaN  1640
...                                                     ...   ...
99849883                                   T. F., fl. 1630.  1636
99847059  Fabricius, Joannes, Montanus, 1527-1566.; L. A...  1562
99856552                           Fabyan, Robert, d. 1513.  1533
99849909                   Fage, John, student in phisicke.  1606
99849912                         Falconer, John, 1577-1656.  1618

                                                      Title  \
EEBO
99850634  The brides ornaments viz. fiue meditations, mo...
99842408  Here begynneth a shorte and abreue table on th...
99844302  The Cronycles of Englonde with the dedes of po...
99848896  Considerations vpon the treaty of marriage bet...
99837000  Englands complaint to Iesus Christ, against th...
...                                                     ...
99849883  A fooles bolt is soone shot Good friends bewar...
99847059  An oration of Ihon Fabritius Montanus VVherby ...
99856552  Fabyans cronycle newly prynted, wyth the crony...
99849909  Speculum ÃŒ_grotorum. The sicke-mens glasse or...
99849912  A briefe refutation of Iohn Traskes iudaical a...

                                                      Terms  Page Count  \
EEBO
99850634                                                NaN         134
99842408  Great Britain -- History -- To 1485 -- Early w...         302
99844302  Great Britain -- History -- To 1485 -- Early w...         386
99848896       Great Britain -- Foreign relations -- Spain.          14
99837000  Church of England. -- Thirty-nine Articles -- ...          54
...                                                     ...         ...
99849883                  Ballads, English -- 17th century.           2
99847059  Council of Trent (1545-1563) -- Early works to...          68
99856552  Great Britain -- History -- To 1485 -- Early w...         854
99849909  Medicine -- Early works to 1800.; Astrology --...          72
99849912  Traske, John, d. ca. 1638.; Jews -- Dietary la...         106

                     Place
EEBO
99850634            London
99842408            London
99844302            London
99848896  The Netherlands?
99837000         Amsterdam
...                    ...
99849883            London
99847059            London
99856552   Prentyd  London
99849909            London
99849912        Saint-Omer

[149 rows x 10 columns]

## Exercises

### 1. Unique values

In [9]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['Place'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

['London' 'The Netherlands?' 'Amsterdam' '\xa0London' 'Germany?' 'London?'
 'Londini' '\xa0Londini' '\xa0 London' '\xa0Roan in Normandy i.e. London'
 'Antwerp' 'Emden' 'S.l.' '\xa0Ausborch i.e. Antwerp'
 '\xa0Malborow i.e. Antwerp' 'Im in London' 'Cambridge' 'Rouen'
 '\xa0Oxford' 'Antverpi' 'Oxford' 'Prentyd\xa0 London' 'Saint-Omer']
23

### 2. Basic statistics

In [10]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['Page Count'].describe())

count    149.000000
mean     104.382550
std      160.125398
min        1.000000
25%       16.000000
50%       52.000000
75%      108.000000
max      884.000000
Name: Page Count, dtype: float64

In [11]:
# non-numerical column (freq = most common value's frequency)
print(df['Author'].describe())

count                               136
unique                              106
top       Erasmus, Desiderius, d. 1536.
freq                                 14
Name: Author, dtype: object

In [31]:
# 2b. How many pages does the longest book in the data have?
print(df['Page Count'].max())

884

### 3. Grouping and aggregating

In [12]:
# a. What is the mean page count for books published in Amsterdam?
grouped_data = df.groupby('Place')
print(grouped_data.mean())

                                        VID  Page Count
Place
Amsterdam                       1304.000000   54.000000
Antverpi                        1919.000000   34.000000
Antwerp                        17138.000000   40.000000
Cambridge                      27698.000000    1.000000
Emden                          12152.000000   58.000000
Germany?                       15965.000000   26.000000
Im in London                    1836.000000   94.000000
Londini                        12043.500000   77.750000
London                         16313.584906  104.490566
London?                        13287.666667   55.333333
Oxford                         15196.000000   78.000000
Prentyd  London                22122.000000  854.000000
Rouen                           1821.000000  566.000000
S.l.                           26117.000000    1.000000
Saint-Omer                     15085.000000  106.000000
The Netherlands?               14017.000000   14.000000
  London                       14191.058824   83.411765
 Ausborch i.e. Antwerp         10446.000000   74.000000
 Londini                        1754.000000   38.000000
 London                        13655.755102  107.285714
 Malborow i.e. Antwerp         10452.000000  156.000000
 Oxford                        15007.000000  188.000000
 Roan in Normandy i.e. London  17134.000000  112.000000

In [17]:
# b. What is the mean page count for books grouped by publishing location and date?

grouped_data2 = df.groupby(['Place', 'Date'])
print(grouped_data2.mean())

                                        VID  Page Count
Place                         Date
Amsterdam                     1640   1304.0        54.0
Antverpi                      1565   1919.0        34.0
Antwerp                       1589  17138.0        40.0
Cambridge                     1608  27698.0         1.0
Emden                         1566  12152.0        58.0
...                                     ...         ...
 London                       1619  26113.0        20.0
                              1632  25483.0        16.0
 Malborow i.e. Antwerp        1529  10452.0       156.0
 Oxford                       1615  15007.0       188.0
 Roan in Normandy i.e. London 1588  17134.0       112.0

[121 rows x 2 columns]

### 4. Conditional selections
a.View only entries that were published in London. If you need to remind yourself of the data, you can print the first few lines to the screen again.
b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries there are for London.
c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count equal to or over 46 and print the first 3 entries to the screen using the method ```.head(3)```.

In [30]:
# a.View only entries that were published in London.
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are for London. 
new_df = df[df['Place'] == 'London']
print(new_df.info())

# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count that is greater
# than or equal to 46 and print the first 3 entries to the screen. 
print((new_df[new_df['Page Count'] >= 46]).head(3))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 99850634 to 99849909
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TCP         53 non-null     object
 1   VID         53 non-null     int64
 2   STC         53 non-null     object
 3   Status      53 non-null     object
 4   Author      46 non-null     object
 5   Date        53 non-null     object
 6   Title       53 non-null     object
 7   Terms       47 non-null     object
 8   Page Count  53 non-null     int64
 9   Place       53 non-null     object
dtypes: int64(2), object(8)
memory usage: 4.6+ KB
None
             TCP    VID                       STC Status  \
EEBO
99850634  A00002  15849  STC 1000.5; ESTC S115415   Free
99842408  A00005   7058   STC 10000; ESTC S106695   Free
99844302  A00007   9101   STC 10002; ESTC S108645   Free

                                                     Author  Date  \
EEBO
99850634                         Aylett, Robert, 1583-1655?  1625
99842408  Higden, Ranulf, d. 1364. Polycronicon. English...  1515
99844302             Higden, Ranulf, d. 1364. Polycronicon.  1528

                                                      Title  \
EEBO
99850634  The brides ornaments viz. fiue meditations, mo...
99842408  Here begynneth a shorte and abreue table on th...
99844302  The Cronycles of Englonde with the dedes of po...

                                                      Terms  Page Count  \
EEBO
99850634                                                NaN         134
99842408  Great Britain -- History -- To 1485 -- Early w...         302
99844302  Great Britain -- History -- To 1485 -- Early w...         386

           Place
EEBO
99850634  London
99842408  London
99844302  London