# Answers for DaVinci data

## First steps with pandas
Code templates are included in hidden solution code blocks in notebook but require correct filename and column names added.

Note this data has been edited for the purposes of the exercise, but there is deliberately some missing data.

In [46]:
import pandas
df = pandas.read_csv('./data/DaVinci.csv')
print(df)

     BL record ID Type of resource              Content type Material type  \
0           41738        Monograph  Language material ; Text        Volume
1           41739        Monograph  Language material ; Text        Volume
2           59998        Monograph  Language material ; Text        Volume
3           60030        Monograph  Language material ; Text        Volume
4           72285        Monograph  Language material ; Text        Volume
..            ...              ...                       ...           ...
349       2135242        Monograph  Language material ; Text        Volume
350       2135243        Monograph  Language material ; Text        Volume
351       2135244        Monograph  Language material ; Text        Volume
352       2135245        Monograph  Language material ; Text        Volume
353       2135246        Monograph  Language material ; Text        Volume

                   Name Dates associated with name Type of name  \
0        Albizzi, Luigi                        NaN       person
1        Albizzi, Luigi                        NaN       person
2    Almedingen, E. M.                   1898-1971       person
3    Almedingen, E. M.                   1898-1971       person
4       Amoretti, Carlo                        NaN       person
..                  ...                        ...          ...
349                 NaN                        NaN          NaN
350                 NaN                        NaN          NaN
351                 NaN                        NaN          NaN
352                 NaN                        NaN          NaN
353                 NaN                        NaN          NaN

                                             All names  \
0                              Albizzi, Luigi [person]
1                              Albizzi, Luigi [person]
2               Almedingen, E. M. , 1898-1971 [person]
3               Almedingen, E. M. , 1898-1971 [person]
4                             Amoretti, Carlo [person]
..                                                 ...
349                                                NaN
350  Jappel, Arnošt [person] ; Pečírka, Jaromír [pe...
351           Goldscheider, Ludwig, of Vienna [person]
352                          Pečírka, Jaromír [person]
353                                                NaN

                                                 Title Country of publication  \
0    La Testa del Battista, dipinto originale di Le...                    NaN
1    Leonardo da Vinci. The Head of John the Baptis...                    NaN
2                        Leonardo da Vinci. A portrait                England
3    The Young Leonardo da Vinci ... Illustrated by...                England
4    Memorie storiche su la vita, gli studj, e le o...                    NaN
..                                                 ...                    ...
349             Leonardo da Vinci. Florentine school.                 England
350  The Drawings of Leonardo and Michelangelo. Int...                England
351  Leonardo da Vinci. Life and work, paintings an...                England
352  The drawings of Leonardo and Michelangelo. Int...                England
353                                  Leonardo da Vinci                England

    Place of publication                                          Publisher  \
0                Firenze                                                NaN
1               Florence                                                NaN
2                 London                                        Bodley Head
3                 London                                                 Bl
4                 Milano  dalla Tipografia di Giusti, Ferrario, eC, Edit...
..                   ...                                                ...
349               London                                     Medici Society
350      London ; Prague                                        Paul Hamlyn
351               London                                      Phaidon Press
352               London                                             Hamlyn
353               London                                       Leisure Arts

     Date  Page Count            BL shelfmark  Citations
0    1919          31               7859.h.26         41
1    1920          31  1752.c.1.  ; 7859.g.16          6
2    1969         159              X.429/4017         34
3    1963         143            010600.ee.14          7
4    1804         199               1402.f.14         39
..    ...         ...                     ...        ...
349  1962         546            7866.s.12/24          1
350  1964          67               X.423/135         20
351  1964         192                X.423/38         37
352  1966          78               X.423/422         40
353  1966          99             L.R.410.c.4         42

[354 rows x 16 columns]

In [47]:
# Print first few lines

print(df.head())

   BL record ID Type of resource              Content type Material type  \
0         41738        Monograph  Language material ; Text        Volume
1         41739        Monograph  Language material ; Text        Volume
2         59998        Monograph  Language material ; Text        Volume
3         60030        Monograph  Language material ; Text        Volume
4         72285        Monograph  Language material ; Text        Volume

                 Name Dates associated with name Type of name  \
0      Albizzi, Luigi                        NaN       person
1      Albizzi, Luigi                        NaN       person
2  Almedingen, E. M.                   1898-1971       person
3  Almedingen, E. M.                   1898-1971       person
4     Amoretti, Carlo                        NaN       person

                                All names  \
0                 Albizzi, Luigi [person]
1                 Albizzi, Luigi [person]
2  Almedingen, E. M. , 1898-1971 [person]
3  Almedingen, E. M. , 1898-1971 [person]
4                Amoretti, Carlo [person]

                                               Title Country of publication  \
0  La Testa del Battista, dipinto originale di Le...                    NaN
1  Leonardo da Vinci. The Head of John the Baptis...                    NaN
2                      Leonardo da Vinci. A portrait                England
3  The Young Leonardo da Vinci ... Illustrated by...                England
4  Memorie storiche su la vita, gli studj, e le o...                    NaN

  Place of publication                                          Publisher  \
0              Firenze                                                NaN
1             Florence                                                NaN
2               London                                        Bodley Head
3               London                                                 Bl
4               Milano  dalla Tipografia di Giusti, Ferrario, eC, Edit...

   Date  Page Count            BL shelfmark  Citations
0  1919          31               7859.h.26         41
1  1920          31  1752.c.1.  ; 7859.g.16          6
2  1969         159              X.429/4017         34
3  1963         143            010600.ee.14          7
4  1804         199               1402.f.14         39

In [48]:
# Print summary information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   BL record ID                354 non-null    int64
 1   Type of resource            354 non-null    object
 2   Content type                354 non-null    object
 3   Material type               354 non-null    object
 4   Name                        218 non-null    object
 5   Dates associated with name  45 non-null     object
 6   Type of name                218 non-null    object
 7   All names                   313 non-null    object
 8   Title                       354 non-null    object
 9   Country of publication      120 non-null    object
 10  Place of publication        300 non-null    object
 11  Publisher                   113 non-null    object
 12  Date                        309 non-null    object
 13  Page Count                  354 non-null    int64
 14  BL shelfmark                352 non-null    object
 15  Citations                   354 non-null    int64
dtypes: int64(3), object(13)
memory usage: 44.4+ KB
None

In [49]:
# Print the type of the Data column which is currently an int rather than Date NB: NaN cells return float
print(type(df['Page Count'][0]))

<class 'numpy.int64'>

In [50]:
# custom index column
df = pandas.read_csv('./data/DaVinci.csv', index_col='BL record ID')
print(df)

             Type of resource              Content type Material type  \
BL record ID
41738               Monograph  Language material ; Text        Volume
41739               Monograph  Language material ; Text        Volume
59998               Monograph  Language material ; Text        Volume
60030               Monograph  Language material ; Text        Volume
72285               Monograph  Language material ; Text        Volume
...                       ...                       ...           ...
2135242             Monograph  Language material ; Text        Volume
2135243             Monograph  Language material ; Text        Volume
2135244             Monograph  Language material ; Text        Volume
2135245             Monograph  Language material ; Text        Volume
2135246             Monograph  Language material ; Text        Volume

                            Name Dates associated with name Type of name  \
BL record ID
41738             Albizzi, Luigi                        NaN       person
41739             Albizzi, Luigi                        NaN       person
59998         Almedingen, E. M.                   1898-1971       person
60030         Almedingen, E. M.                   1898-1971       person
72285            Amoretti, Carlo                        NaN       person
...                          ...                        ...          ...
2135242                      NaN                        NaN          NaN
2135243                      NaN                        NaN          NaN
2135244                      NaN                        NaN          NaN
2135245                      NaN                        NaN          NaN
2135246                      NaN                        NaN          NaN

                                                      All names  \
BL record ID
41738                                   Albizzi, Luigi [person]
41739                                   Albizzi, Luigi [person]
59998                    Almedingen, E. M. , 1898-1971 [person]
60030                    Almedingen, E. M. , 1898-1971 [person]
72285                                  Amoretti, Carlo [person]
...                                                         ...
2135242                                                     NaN
2135243       Jappel, Arnošt [person] ; Pečírka, Jaromír [pe...
2135244                Goldscheider, Ludwig, of Vienna [person]
2135245                               Pečírka, Jaromír [person]
2135246                                                     NaN

                                                          Title  \
BL record ID
41738         La Testa del Battista, dipinto originale di Le...
41739         Leonardo da Vinci. The Head of John the Baptis...
59998                             Leonardo da Vinci. A portrait
60030         The Young Leonardo da Vinci ... Illustrated by...
72285         Memorie storiche su la vita, gli studj, e le o...
...                                                         ...
2135242                  Leonardo da Vinci. Florentine school.
2135243       The Drawings of Leonardo and Michelangelo. Int...
2135244       Leonardo da Vinci. Life and work, paintings an...
2135245       The drawings of Leonardo and Michelangelo. Int...
2135246                                       Leonardo da Vinci

             Country of publication Place of publication  \
BL record ID
41738                           NaN              Firenze
41739                           NaN             Florence
59998                       England               London
60030                       England               London
72285                           NaN               Milano
...                             ...                  ...
2135242                     England               London
2135243                     England      London ; Prague
2135244                     England               London
2135245                     England               London
2135246                     England               London

                                                      Publisher  Date  \
BL record ID
41738                                                       NaN  1919
41739                                                       NaN  1920
59998                                               Bodley Head  1969
60030                                                        Bl  1963
72285         dalla Tipografia di Giusti, Ferrario, eC, Edit...  1804
...                                                         ...   ...
2135242                                          Medici Society  1962
2135243                                             Paul Hamlyn  1964
2135244                                           Phaidon Press  1964
2135245                                                  Hamlyn  1966
2135246                                            Leisure Arts  1966

              Page Count            BL shelfmark  Citations
BL record ID
41738                 31               7859.h.26         41
41739                 31  1752.c.1.  ; 7859.g.16          6
59998                159              X.429/4017         34
60030                143            010600.ee.14          7
72285                199               1402.f.14         39
...                  ...                     ...        ...
2135242              546            7866.s.12/24          1
2135243               67               X.423/135         20
2135244              192                X.423/38         37
2135245               78               X.423/422         40
2135246               99             L.R.410.c.4         42

[354 rows x 15 columns]

## Exercises

### 1. Unique values

In [51]:
# a. Create a list of the unique values that are in one of the columns.

unique_values = pandas.unique(df['Publisher'])
print(unique_values)

# b. How many unique values are there in this column?
count = len(unique_values)
print(count)

[nan 'Bodley Head' 'Bl'
 "dalla Tipografia di Giusti, Ferrario, eC, Editori de' Classici Italiani"
 'Stanley Paul' 'Peter Davies' 'T. Nelson' 'University of Kansas Press'
 'Chatto & Windus' 'Hart-Davis' 'Bernard Grasset' 'Civitate Vaticana'
 'F. A. Stokes ; T. C. & E. C. Jack' 'William Pickering' 'Collins'
 'Shakspeare-Press & sold by G & W. Nicol ; W. Bulmer' 'University Press'
 'Cambridge University Press' 'Penguin' 'Rowohlt'
 'Seeley, Jackson & Halliday' 'Seeley' 'Talleres Espasa-Calpe'
 'William Heinemann' 'Constable' 'Arthur L. Humphreys' 'John Murray'
 'Centre régional de documentation pédagogique' 'George G. Harrap'
 'George Bell' 'University of Chicago Press' 'sér. Paris'
 'Hogarth Press ; Institute of Psycho-Analysis'
 "C. Scribner's ; H. Grevel" 'J. M. Ouseley' 'Hutchinson' 'W. H. Allen'
 'Moffatt, Yard' 'Kegan Paul' 'Thames & Hudson' 'Whitcombe & Tombs'
 'J. Booth ; Rivington' 'Duckworth' 'Frank Glenn Publishing'
 'Weidenfeld & Nicolson' 'Chapman & Hall' 'University of California Press'
 'Macdonald' 'Basel ; Holbein-Verlag ; Macmillan ; Nijmegen & Wageningen'
 'Allen Lane' 'Wilhelm Fink' '8*. ff. 8. Roma' 'Danesi'
 'La Libreria dello Stato' 'La Libreria dello stato'
 'Routledge & Kegan Paul' 'Harvey & Blythe' 'Coward-McCann'
 'Alderbrink Press'
 'Zakład Narodowy im. Ossolińskich, Wydawnictwo Polskiej Akademii Nauk'
 'Sampson Low' 'Oxford University Press' 'Phaidon' 'Phaidon Press'
 'McGraw-Hill' 'Jonathan Cape' 'New American Library'
 'C. G. A. Corvey Papiergroothandel' 'Gallimard' 'Giacomo Langlois'
 'di Francesco Ricciardo ; spese di Niccola, e Vincenzo Rispoli'
 "dalla Società Tipografica de' Classici Italiani"
 'Princeton University Press' 'Peter Owen' 'J. Senex ; W. Taylor'
 'I. & J. Taylor' 'J. Taylor' 'J. B. Nichols' 'G. Bell' 'Iacques Langlois'
 'Pierre-François Giffart' 'Deterville' 'spese di Francesco Cardinali'
 'John Clarke' 'Frederick Bruckmann' 'Bell & Daldy'
 'Charles Scribner ; George Newnes' 'A. Zwemmer' 'Studio ; W. E. Rudge'
 'Oxford University Press ; Phaidon Press' 'Max Parrish'
 'Corbeil ; Hyperion Press' 'Medici Society' 'A. Zwemmer ; Fernand Hazan'
 'Oldbourne' 'Paul Hamlyn' 'Hamlyn' 'Leisure Arts']
98

### 2. Basic statistics

In [56]:
# 2a. See what happens when you run the ```.describe()``` command with a numerical and non-numerical column.
# numerical column
print(df['Citations'].describe())

count    354.000000
mean      22.790960
std       13.134145
min        0.000000
25%       12.000000
50%       22.000000
75%       34.000000
max       45.000000
Name: Citations, dtype: float64

In [53]:
# non-numerical column (freq = most common value's frequency)
print(df['Publisher'].describe())

count               113
unique               97
top       Phaidon Press
freq                  5
Name: Publisher, dtype: object

In [54]:
# 2b. How many pages does the longest book in the data have?
print(df['Page Count'].max())

5534

### 3. Grouping and aggregating

In [55]:
# a. What is the mean page count for books published in Amsterdam?
grouped_data = df.groupby('Place')
print(grouped_data.mean())

KeyError: 'Place'

In [ ]:
# b. What is the mean page count for books grouped by publishing location and date?

grouped_data2 = df.groupby(['Place', 'Date'])
print(grouped_data2.mean())

### 4. Conditional selections
a.View only entries that were published in London. If you need to remind yourself of the data, you can print the first few lines to the screen again.
b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries there are for London.
c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count equal to or over 46 and print the first 3 entries to the screen using the method ```.head(3)```.

In [ ]:
# a.View only entries that were published in London.
# b. Save the results in a variable called `new_df` (new DataFrame) and view summary information to see how many entries 
# there are for London. 
new_df = df[df['Place'] == 'London']
print(new_df.info())

# c. Out of the entries in your new DataFrame, now narrow the selection to those that have a page count that is greater
# than or equal to 46 and print the first 3 entries to the screen. 
print((new_df[new_df['Page Count'] >= 46]).head(3))